spring:
  profiles:
    active: local

  datasource:
    url: jdbc:p6spy:mysql://localhost:3306/board?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: changhak123!
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: false

jwt:
  secret: YjJGa2MyUnpabVJ6WmpCaVptUXpOekk1T1RFMk5HWmlOR1UzWkRKa056ZzROV1l5TmpRNVlUaGtNR0V3WkRjeQ==
  access-token-validity: 1800000
  refresh-token-validity: 604800000

logging:
  level:
    org.hibernate.SQL: off